---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import HomeHeader from "../../components/HomeHeader.astro";
import MaxWidthContainer from "../../components/MaxWidthContainer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { slugify } from "../../lib/util";

const allPosts = await getCollection("post");

const countedTags = allPosts
  .map((post) => post.data.tags.flat())
  .flat()
  .reduce(
    (acc, tag) => {
      if (!acc[tag]) {
        acc[tag] = 0;
      }
      acc[tag] += 1;
      return acc;
    },
    {} as Record<string, number>
  );
const tagItems = Object.entries(countedTags)
  .map(([tag, count]) => ({ tag, count }))
  .sort((a, b) => a.tag.localeCompare(b.tag));
---

<html lang="ja">
  <head>
    <BaseHead
      title={`タグ一覧 | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <h1>Tags</h1>
        <ul>
          {
            tagItems.map((item) => (
              <li>
                <a href={`/tags/${slugify(item.tag)}`}>
                  {item.tag} ({item.count})
                </a>
              </li>
            ))
          }
        </ul>
      </main>
    </MaxWidthContainer>
    <Footer />
  </body>
</html>
