---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import HomeHeader from "../../components/HomeHeader.astro";
import MaxWidthContainer from "../../components/MaxWidthContainer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { buildNormalizedTagGroups } from "../../lib/util";
import { getPublishedPosts } from "../../lib/posts";

const allPosts = await getPublishedPosts();
const tagItems = buildNormalizedTagGroups(allPosts);
---

<html lang="ja">
  <head>
    <BaseHead
      title={`タグ一覧 | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
    <style>
      main {
        padding: 0 16px 96px;
      }
    </style>
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <h1>Tags</h1>
        <ul>
          {
            tagItems.map((item) => (
              <li>
                <a href={`/tags/${item.slug}`}>
                  {item.label} ({item.count})
                </a>
              </li>
            ))
          }
        </ul>
      </main>
    </MaxWidthContainer>
    <Footer />
  </body>
</html>
