---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomeHeader from "../components/HomeHeader.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import PostItem from "../components/PostItem.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts.ts";

const allPosts = await getCollection("post");
const latestPosts = allPosts
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <section class="latest-posts">
          {
            latestPosts.map((post) => (
              <PostItem
                title={post.data.title}
                date={post.data.date}
                slug={post.slug}
              />
            ))
          }
        </section>

        <a href="/page/1">View all</a>
      </main>
    </MaxWidthContainer>
    <Footer />

    <style>
      .latest-posts {
        margin: 20px 0 40px;
      }
    </style>
  </body>
</html>
