---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomeHeader from "../components/HomeHeader.astro";
import LinkIsland from "../components/islands/LinkIsland.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import PostItem from "../components/PostItem.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getPublishedPosts } from "../lib/posts";

const latestPosts = (await getPublishedPosts()).slice(0, 5);
---

<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        padding: 0 16px 96px;
      }
      .latest-posts {
        margin: 20px 0 40px;
      }
    </style>
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <section class="latest-posts">
          {
            latestPosts.map((post) => (
              <PostItem
                title={post.data.title}
                date={post.data.date}
                slug={post.data.slug}
              />
            ))
          }
        </section>

        <LinkIsland href="/page/1">View all</LinkIsland>
      </main>
    </MaxWidthContainer>
    <Footer />
  </body>
</html>
