---
import BaseHead from "../components/BaseHead.astro";
import ButtonLinkIsland from "../components/islands/ButtonLinkIsland.astro";
import Footer from "../components/Footer.astro";
import HomeHeader from "../components/HomeHeader.astro";
import PostItemIsland from "../components/islands/PostItemIsland.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getPublishedPosts } from "../lib/posts";

const latestPosts = (await getPublishedPosts()).slice(0, 5);
---

<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        padding: 0 16px 96px;
      }
      .latest-posts {
        margin: 20px 0 40px;
      }
    </style>
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <section class="latest-posts">
          {
            latestPosts.map((post) => (
              <PostItemIsland
                href={`/post/${post.data.slug}`}
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
              />
            ))
          }
        </section>

        <ButtonLinkIsland href="/page/1" intent="brand" appearance="solid" size="md">
          View all
        </ButtonLinkIsland>
      </main>
    </MaxWidthContainer>
    <Footer />
  </body>
</html>
