---
type Props = {
  title: string;
  description: string;
};

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- canonical URL -->
<!-- TODO: canonical URL -->
<!-- <link rel="canonical" href={canonicalURL} /> -->

<!-- primary meta -->
<title>{title}</title>
<meta name="description" content={description} />

<!-- open graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- TODO: og image -->
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- TODO: og image -->
<!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->
<meta name="title" content={title} />
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
  }

  ::selection {
    color: white;
    background: #932ab5;
  }

  body {
    color: #232323;
    background: #ffffff;
    transition: background-color 0.3s ease;
  }

  a {
    color: #983bc9;
    background-color: transparent;
    word-break: break-all;
    text-decoration: underline;
  }

  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
</style>
