---
import "@fontsource-variable/jetbrains-mono";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomeHeader from "../components/HomeHeader.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { slugify } from "../lib/util";

type Props = {
  post: CollectionEntry<"post">;
  prev: CollectionEntry<"post"> | null;
  next: CollectionEntry<"post"> | null;
  headings: MarkdownHeading[];
};

const { post, prev, next, headings } = Astro.props;
const { title, date, tags } = post.data;
const formattedDate = format(date, "MMMM dd, yyyy");

const tagItems = tags.map((name) => ({
  name,
  slug: slugify(name),
}));
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${title} | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
    <style is:inline>
      .post-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-weight: 600;
          margin: 2rem 0 1rem;
          padding-top: 0.875rem;
        }
        h1 {
          font-size: 1.875rem;
        }
        h2 {
          font-size: 1.75rem;
        }
        h3 {
          font-size: 1.5rem;
        }
        h4 {
          font-size: 1.25rem;
        }
        h5 {
          font-size: 1rem;
        }
        h6 {
          font-size: 0.875rem;
        }
        p {
          margin: 1.5rem 0;
        }
        ul {
          margin-block: 0.75rem;
          margin-inline: 0px;
          padding-inline-start: 1.5rem;
        }
        li::marker {
          color: rgb(107 114 128);
        }
        blockquote {
          color: rgb(31 41 55);
          background: rgb(243 244 246);
          padding: 1rem 0.875em;
          border-radius: 8px;

          p {
            margin: 0;
          }
        }

        code {
          font-family: "JetBrains Mono Variable", "Menlo", "Courier", monospace;
          font-size: 0.875em;
        }

        /* Code hightlight */
        :not(pre) > code {
          background: #f3f4f6;
          border-radius: 4px;
          padding: 2px 6px;
        }
        pre:has(code) {
          padding: 0.8rem;
          border: 2px solid #aaa;
          border-radius: 4px;
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
          }
        }
      }
    </style>

    <!-- Twitter widget -->
    <script is:inline async src="https://platform.twitter.com/widgets.js"
    ></script>

    <!-- CodePen -->
    <script
      is:inline
      async
      src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

    <!-- KaTeX styles -->
    <link rel="stylesheet" href="/styles/katex/katex.min.css" rel="preload" />
  </head>
  <body>
    <MaxWidthContainer width="68.75rem">
      <main>
        <HomeHeader />
        <div class="container">
          <TableOfContents headings={headings} />
          <article>
            <h1 class="title">{title}</h1>
            <p class="date">{formattedDate}</p>
            <ul class="tags">
              {
                tagItems.map((tag) => (
                  <li class="tag">
                    <a href={`/tags/${tag.slug}`}>{`#${tag.name}`}</a>
                  </li>
                ))
              }
            </ul>
            <div class="post-content">
              <slot />
            </div>
          </article>
        </div>
      </main>
    </MaxWidthContainer>
    <MaxWidthContainer>
      <div class="links">
        {next ? <a href={`/post/${next.slug}`}>{`< 前の記事`}</a> : <span />}
        {prev ? <a href={`/post/${prev.slug}`}>{`次の記事 >`}</a> : <span />}
      </div>
    </MaxWidthContainer>
    <Footer />

    <style>
      .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }
      article {
        --base-width: 740px;
        flex: 1 1 auto;
        max-width: min(var(--base-width), 100%);
      }
      .title {
        display: inline-block;
        background: linear-gradient(
          90deg,
          rgb(59, 154, 201),
          rgb(152, 59, 201)
        );
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 2rem;
        font-weight: 600;
        color: transparent;
      }
      .date {
        font-size: 0.875rem;
        margin: 48px 0 24px;
        color: rgb(75 85 99);
      }
      .tags {
        margin: 24px 0;
      }
      .tag {
        display: inline-block;
        margin: 8px 8px 8px 0;
      }
      .tag a {
        font-size: 0.75rem;
        color: rgb(75 85 99);
        background-color: rgb(243 244 246);
        text-decoration: none;
        border-radius: 4px;
        padding: 6px 12px;
      }
      .content {
        margin-top: 64px;
      }
      .links {
        display: flex;
        justify-content: space-between;
        margin-top: 128px;
      }
    </style>
  </body>
</html>
