---
import type { GetStaticPaths } from "astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import HomeHeader from "../../components/HomeHeader.astro";
import MaxWidthContainer from "../../components/MaxWidthContainer.astro";
import PaginationNav from "../../islands/PaginationNavIsland.astro";
import PostItem from "../../islands/PostItemIsland.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getPosts } from "../../lib/posts";

export const getStaticPaths = (async () => {
  const posts = await getPosts();
  const countPerPage = 10;
  const pageCount = Math.ceil(posts.length / countPerPage);
  const chunked = Array.from({ length: pageCount }, (_, i) =>
    posts.slice(i * countPerPage, i * countPerPage + countPerPage),
  );

  return chunked.map((chunk, index) => ({
    params: { p: (index + 1).toString() },
    props: {
      chunk,
      hasPrev: index - 1 >= 0,
      hasNext: index + 1 < chunked.length,
      page: index + 1,
    },
  }));
}) satisfies GetStaticPaths;

const { chunk, hasNext, hasPrev, page } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead
      title={`記事一覧 ${page}ページ目 | ${SITE_TITLE}`}
      description={SITE_DESCRIPTION}
    />
    <style>
      main {
        padding: 0 var(--space-page-inline) var(--space-page-block-end);
      }
    </style>
  </head>
  <body>
    <HomeHeader />
    <MaxWidthContainer>
      <main>
        <section>
          {
            chunk.map((post) => (
              <PostItem
                title={post.data.title}
                date={post.data.date}
                href={`/post/${post.id}`}
              />
            ))
          }
        </section>
        <PaginationNav
          prevHref={hasPrev ? `/page/${page - 1}` : undefined}
          nextHref={hasNext ? `/page/${page + 1}` : undefined}
        />
      </main>
    </MaxWidthContainer>
    <Footer />
  </body>
</html>
